<template>
  <div class="order-history-block">
    <v-toolbar flat color="white">
      <v-toolbar-title>Orders</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="orders"
      :expand="expand"
      item-key="id"
    >
      <template slot="items" slot-scope="props">
        <tr @click="props.expanded = !props.expanded">
          <td>{{ props.item.id }}</td>
          <td>{{ props.item.created_at | moment("MMMM D, YYYY") }}</td>
          <td>{{ deliveryInfo(props.item) }}</td>
          <td>{{ props.item.delivery_price?'£'+props.item.delivery_price:'' }}</td>
          <td>{{ props.item.billing_discount_code?props.item.billing_discount_code:'' }}</td>
          <td>{{ props.item.billing_discount?'£'+props.item.billing_discount:'' }}</td>
          <td>£{{ props.item.billing_tax }}</td>
          <td>£{{ props.item.billing_total }}</td>
          <td>{{ props.item.dispatch_id }}</td>
          <td>{{ props.item.dispatch_email }}</td>
          <td>
            <button 
                class="btn btn-primary dispatch-button"
                @click.stop="dialog = true, orderId=props.item.id, dispatchEmail=props.item.billing_email"
                >Dispatch</button>
              </td>
        </tr>
      </template>
      <template slot="expand" slot-scope="props">
        <v-card flat color="#d4d4d4">
          <v-card-text>
          	<order-history-details :order="props.item"></order-history-details>
          </v-card-text>
        </v-card>
      </template>
    </v-data-table>
    <v-layout row justify-center>
      <v-dialog
          v-model="dialog"
          max-width="390"
        >
          <v-card>
            <v-card-title class="headline">Send Dispatch Email</v-card-title>
            <form id="dispatch-form" method="POST" :action="`/dispatch/${orderId}`" accept-charset="UTF-8">
              <input name="_method" type="hidden" value="PUT">
              <input type="hidden" name='_token' :value="csrf.csrfToken" />
            <v-card-text>
              <v-flex xs12>
                <v-text-field label="Dispatch Id*" name="dispatch_id" required></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field label="Email*" name="dispatch_email" v-model="dispatchEmail" required></v-text-field>
              </v-flex>
            </v-card-text>
            

            <v-card-actions>
              <v-spacer></v-spacer>

              <v-btn
                color="red darken-1"
                flat="flat"
                @click="dialog = false"
              >
                Cancel
              </v-btn>

              <v-btn
                type="submit"
                color="green darken-1"
                flat="flat"
              >
                Send
              </v-btn>
            </v-card-actions>
            </form>
          </v-card>
        </v-dialog>
      </v-layout>
  </div>
</template>

<script>
	import OrderHistoryDetails from '../Orders/OrderHistoryDetails'
  export default {
  	props: ['orders'],
  	components: {
  		OrderHistoryDetails,
  	},
    data () {
      return {
        csrf: window.Tokens,
        expand: false,
        dialog: false,
        orderId: 0,
        dispatchEmail: '',
        headers: [
          {
            text: 'Order Id',
            align: 'left',
            sortable: false,
            value: 'id'
          },
          { text: 'Date of Order', sortable: false, value: 'date_of_order' },
          { text: 'Delivery', sortable: false, value: 'delivery' },
          { text: 'Delivery Price', sortable: false, value: 'delivery_price' },
          { text: 'Coupon', sortable: false, value: 'coupon' },
          { text: 'Discount', sortable: false, value: 'discount' },
          { text: 'Tax', sortable: false, value: 'tax' },
          { text: 'Amount', sortable: false, value: 'amount' },
          { text: 'Dispatch Id', sortable: false, value: 'dispatch_id' },
          { text: 'Dispatch Email', sortable: false, value: 'dispatch_email' },
          { text: 'Action', sortable: false, value: 'action' },
        ]
      }
    },
    methods: {
      reOrder(id) {
        window.location.href = '/re-order/'.id;
      },
      deliveryInfo(item) {
        if(item.delivery !== null) {
          return item.delivery.type+' ('+item.delivery.description+')';
        }
        return '';
      }
    }
  }
</script>


<style>
  
  .order-history-block .v-menu {
    position: initial;
  }
  .order-history-block .v-menu>.v-menu__content {
    top: 0 !important;
    left: 0 !important;
  }

  .dispatch-button {
    background-color: #0c5407 !important;
  }

  .v-dialog__content--active {
    background-color: rgba(0,0,0,0.5);
  }

</style>