// Variables
@import '../variables';

.cart-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    margin: 60px auto;

    h2 {
        margin-bottom: 30px;
    }

    .cart-table {

    }

    .cart-table-row {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $text-color-light;
        padding: 14px 0;

        &:last-child {
            border-bottom: 1px solid $text-color-light;
        }

        .cart-table-row-left, .cart-table-row-right {
            display: flex;
            justify-content: space-between;
        }

        .cart-table-row-left {
            width: 50%;
        }

        .cart-table-row-right {
            width: 33%;
            padding-top: 10px;
        }

        .cart-table-img {
            max-height: 75px;
        }

        .cart-table-actions {
            text-align: right;
            font-size: 14px;
        }

        .cart-item-details {
            padding-top: 5px;
            padding-left: 5px;
            padding-right: 5px;
        }

        .cart-table-description {
            color: $text-color-light;
        }

        .cart-options {
            color: $text-color;
            background: transparent;
            font-size: 14px;
            font-weight: 300;
            padding: 0;

            &:hover {
                color: lighten($text-color, 30%);
            }
        }
    }

    .cart-totals {
        margin: 30px 0;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        background: $light-gray-background;

        .cart-totals-left {
            width: 50%;
        }

        .cart-totals-right {
            display: flex;
            justify-content: space-between;
            width: 35%;
            text-align: right;
        }

        .cart-totals-total {
            font-weight: bold;
            font-size: 22px;
            line-height: 2;
        }
    }

    .cart-buttons {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .have-code {
        display: block;
        margin: 14px 0;
        text-align: right;
    }

  .have-code-container {
    border: 1px solid $text-color-light;
    padding: 16px;
    width: 50%;
    margin-left: auto;

    form {
      display: flex;
      justify-content: space-between;
    }

    input[type="text"] {
      width: 70%;
      padding: 10px;
      font-size: 16px;
    }

    input[type="submit"] {
      background: white;
      border: 1px solid $text-color-light;
      padding-top: 8px;
      padding-bottom: 8px;

      &:hover {
        background: $text-color;
      }
    }
  }
}

.header-cart-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 5px;
    margin-bottom: 5px;
    border: 1px solid #aaaaaa;
    position: relative;
}

.header-cart-image {
    width: 30%;
}

.header-cart-content {
    width: 70%;
}

.header-cart-content a {
    font-size: 14px !important;
    display: inline-block;
    line-height: 18px;
}

.header-cart-remove {
    position: absolute;
    height: 30px;
    right: 0px;
    top: -3px;
}

.cart-section.container {
    margin-top: 30px;
}

.cart-background {
        background-color: #f2f2f2;
    }
    .width-50 {
        width: 50%;
    }

    .cart-display {
        width: 350px;
        right: 10px;
        border: 1px solid #7ad700;
        background-color: #ffffff;
        padding: 10px;
        box-shadow: 2px 5px 0 rgba(13, 97, 156, 0);
        z-index: 9;
    }
    .cart-header-display-box {
        max-height: 200px;
        overflow-y: scroll;
        margin-bottom: 10px;
    }
    .cart-table-header {
        width: 100%;
        border: 1px solid #dcd6d6;
    }
    .cart-table-header tr {
        border-bottom: 1px solid #dcd6d6;
    }
    .cart-table-header tr td {
        padding: 5px 8px;
    }
    .cart-basket-block {
        display: flex;
        align-items: flex-end;
        font-size: 15px;
        border: 1px solid #000000;
        justify-content: center;
        width: fit-content;
        padding: 0 10px;
        border-radius: 5px;
    }
    .cart-basket {
        margin: 0 8px;
        font-weight: 500;
        font-size: 16px;
    }
    .cart-amount {
        color: #527326;
        font-weight: 700;
        margin-right: 3px;
    }
    .cart-hover-price {
        color: #527326;
        font-weight: bold;
    }
    .cart-hover-total {
        color: #3656b9;
        font-weight: bold;
    }

.cart-qty-select {
    height: auto;
    width: 20px;
    padding-left: 5px;
    background-color: #ececef;
    font-weight: bold;
}

.cart-block-admin {
  display: inline-block;
  margin-right: 15px;
  background: #ffffff;
  border-radius: 5px;
}

.cart-table-sm {
    display: none;
}

@media (min-width: 1024px) and (max-width: 1265px) { 
    .cart-amount {
        display: none;
    }
}

@media (max-width: 1024px) { 
        
        .cart-table {
            display: none;
        }
        .cart-table-sm {
            display: block;
        }

        .cart-table-sm .cart-display {
            width: 280px;
            right: 1px;
            position: initial !important;
        }
        .cart-table-sm .cart-header-display-box {
            max-height: unset;
            overflow: initial;
        }

        .width-sm-100 {
            width: 100%;
        }
    }
    @media (max-width: 575.98px) { 
        .cart-section .cart-buttons {
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        .cart-section .cart-buttons .button {
            margin-bottom: 10px;
        }
        .checkout-section .checkout-table-container {
            margin-left: 0 !important;
        }
    }