a.TextLink.Overlay-Badge--testMode.Overlay-Badge--topRight {
    display: none;
} 
i.fa.fa-user-o {
    font-size: 187px;
    padding-bottom: 9px;
    padding-top: 19px;
    color: #505c55;
}
.fa.fa-tags{
  color: #1e70b9;
    font-size: 43px;
    margin-top: 13px;
    margin-botton: 0px;
    padding-bottom: 13px;
}
.fa.fa-user {
   color: #1e70b9;
    font-size: 24px;
    margin-top: 13px;
    margin-botton: 0px;
    padding-bottom: 13px;
}
.fa.fa-shopping-basket {
    color: #1e70b9;
    font-size: 43px;
    margin-top: 13px;
    margin-botton: 0px;
    padding-bottom: 13px;
}
i.fa-user-circle{
  color: #1e70b9;
    font-size: 60px;
    margin-top: 13px;
    margin-botton: 0px;
    padding-bottom: 13px;

}
#top-header .cart-search-section{
    margin-left: 40px;
}
.fa.fa-shopping-basket.display {
    padding-right: 23px !important;
    margin-left: -64px !important;
}
i.fa-first-order{
   color: #1e70b9;
    font-size: 60px;
    margin-top: 13px;
    margin-botton: 0px;
    padding-bottom: 13px;
}
i.fa-eercast{
   color: #1e70b9;
    font-size: 60px;
    margin-top: 13px;
    margin-botton: 0px;
    padding-bottom: 13px;
}
a.btn.btn-info {
    margin-right: 0px;
    padding-right: 24px;
}
table.v-table thead th {
        font-size: 24px !important;
   }
.theme--dark.v-btn:not(.v-btn--icon):not(.v-btn--flat) {
    background-color: #505c55 !important;
}
.theme--light.v-table thead th {
    color: rgb(80, 92, 85) !important;
}
.theme--light.v-toolbar {
   
    color: rgb(80, 92, 85)!important;
}
#topHeader .pull-right {
    float: none !important;
}




@media only screen and (max-width: 1024px){

a.btn.link-btn {
       padding: 14px 10px;
    margin-top: 15px;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 44px;
}
.main-header a.tablinks {
    padding: 24px 5px;
}
button.stripe-button-el {
    float: right;
    margin-top: -157px;
    margin-right: 76px;
}


}


@media only screen and (max-width: 768px){
  .welcome-asia {
    margin-top: 27px;
    margin-bottom: 24px;
  }
.display-product p {
    font-size: 18px !important;
}
.new-section {
       height: auto;
}
.product-list .main-product {
    height:-1px;
    padding: 0px;
}
.main-header a.tablinks {
    padding: 24px 5px;
        font-size: 12px;
    font-weight: 300;
    display: inline;
}

.roles-list-title {
    margin-bottom: 5px;
    margin-top: 15px;
}
.info-box-icon, .justify-content-center {
    
    margin-top: 62px !important;
}

#topHeader span.cart-block-admin {
    margin-right: -2px;
}
#topHeader .cart-basket-block{
    padding:0px 0px;

}
button.stripe-button-el {
        margin-top: -258px;
    margin-right: 38px;
}
}


@media only screen and (max-width: 425px){

    .welcome-asia {
    margin-top: 20px;
    margin-bottom: 17px;
 }
 a.btn.link-btn {
        font-size: 17px;
    }
nav#mobile_Menu {
    height: 0px !important;
}

 table.product-list-display th:nth-child(1), table.product-list-display th:nth-child(4), table.product-list-display tbody td:nth-child(1), table.product-list-display tbody td:nth-child(4) {
    display: none;
}
table.product-list-display.display_product th:nth-child(1),table.product-list-display.display_product th:nth-child(4), table.product-list-display.display_product th:nth-child(5), table.product-list-display.display_product th:nth-child(6),
table.product-list-display.display_product tbody td:nth-child(1), table.product-list-display.display_product tbody td:nth-child(4), table.product-list-display.display_product tbody td:nth-child(5),table.product-list-display.display_product tbody td:nth-child(6) {
    display: none;
}
.col-sm-4.picture-container.dealer_setting_img {
    margin-bottom: 14px;
}
table.v-datatable.v-table.theme--light th:nth-child(1), table.v-datatable.v-table.theme--light td:nth-child(1) {
    display: none;
}
.col-sm-4 a.btn.btn-block.btn-danger {
    margin-top: 4px;
    margin-bottom: 20px;
}
.col-sm-2.picture-container.dealer_setting_img {
    padding: 121px;
    margin-bottom: -111px;
    padding-top: 6px;
    margin-left: -4px;
}
.roles-list-title h4 {
    text-align: center;
}
.form-group input {
       margin-right: 4px;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 2px !important;
}
div#mobileMenu {
    display: block;
}

#mobileMenu i.fa.fa-bars {
    color: #94c11e;
    font-size: 20px;
}
.navbar-brand {
    margin-right: 0;
}
div#mobileMenu {
    background-color: white;
    text-align: center;
}
div#top-header {
    margin-top: -50px;
}
img.mobileMenu {
    max-width: 70%;
    min-width: 70%;
}
#mobileMenu .col-xs-8 {
    width: 50%;
}
#mobileMenu .position-absolute .cart-basket-block {
    margin: 0px !important;
}
#mobileMenu .position-relative {
    position: inherit !important;
}
#mobileMenu .cart-basket-block {
    padding: 10px 0px!important;
    border-style: none;
}
#mobileMenu .cart-basket-block img {
    position: unset;
    margin: 0px !important;
    width: 40%;
}
#mobileMenu .cart-basket{
    display: none;
}
#mobileMenu i.fa.fa-user {
    font-size: 20px;
    padding: 7px;
    color: #94c11e;
}

#mobileMenu .input-group {
    margin: 0px 0px 0px -20px !important;
}
#mobileMenu form#search-bar button {
    border: 1px solid #cacaca;
    background: #2170b5;
    color: #ffffff;
    height: 35px;
    width: 35px;
}
.main-menu {
    display: none;
}
div#top-header {
    display: none;
}
#mobileMenu ul.dropdown-menu li.dropdown-submenu {
    padding: 4px 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#mobileMenu ul.dropdown-menu.navbar-nav.ml-auto a {
    padding: 5px 15px;
    color: white;
}
#mobileMenu ul.dropdown-menu.navbar-nav.ml-auto {
    min-width: 240px !important;
    max-width: 240px !important;
    background: #2170b5;
}
#mobileMenu ul.dropdown-menu li.dropdown-submenu ul.dropdown-menu{
    background:#94c11e;
    min-width: 230px !important;
    max-width: 230px !important;
    margin-left: 40px;
    position: absolute;
}
.show-sub-menu {
    color: #ffffff;
}
#mobileMenu ul.dropdown-menu li.dropdown-submenu ul.dropdown-menu li.dropdown-submenu ul.dropdown-menu{
    background: #2170b5;
}
#mobileMenu i.fa.fa-map-marker-alt {
    font-size: 25px;
    padding: 15px 1px;
    color: #2675b6;
}
form#search-bar{
    margin:auto;
    margin-left:60px;
}
#topHeader form#search-bar{
    margin-left:0px !important;
}
form#search-bar input{
    height: 35px;
}
.row.deliveryliner p {
    text-align: center;
    margin: auto;
    padding: 5px 0px;
    display:none;
}

.row.deliveryliner {
    background: #2675b6;
    color: white;
    margin-bottom: 10px;
}

form#reviewForm input.form-control {
    width: 12%;
}
span#overall_rating{
    left: 40%;
}
form#reviewForm{
    width:80%;
}
p.note-para{
    margin:0px;
}
.developer-designing{
    text-align: center;
}
.developer-designing p{
    float:none;
}
#topHeader .col-sm-3.header:first-child {
    width: 10% !important;
    
}
#topHeader .col-sm-6.header{
    width:45% !important;
    margin-top: 0px
}   
#topHeader .col-sm-3.header:last-child {
    width: 50% !important;
    

}
.organic-product .display-product {
 display: none;
}
span.logout {
    display: none;
}
#topHeader i.fa.fa-bars {
    margin-left: -14px;
}
#topHeader span.cart-block-admin {
    margin-left: 50px !important;
   
}
#topHeader .col-sm-6.header {
  margin-right: -20px !important;
    margin-left: 28px !important;
}
.delivery-options .v-menu__content.theme--light.menuable__content__active {

    left: 0px !important;
    right: 100px!important;
    min-width: 305px;
}
button.stripe-button-el {
    margin-top: 0px;
    margin-right: 10px;
}
.footer {
    margin-top: 55px;
}
}
@media only screen and (max-width: 375px){
  
a.nav-link {
    margin-right: 75px;
}
table.v-datatable.v-table.theme--light th:nth-child(1), table.v-datatable.v-table.theme--light td:nth-child(1) {
    display: none;
}
table.v-table thead th {
    font-size: 19px !important;
}
.col-sm-2.picture-container.dealer_setting_img {
    padding: 92px;
    margin-bottom: -84px;
    padding-top: 6px;
    margin-left: -4px;
}

#mobileMenu .col-xs-8 {
    width: 47%;
}

#topHeader span.cart-block-admin {
    margin-left: 28px !important;
}
}
@media only screen and (max-width: 320px){
 
table.v-datatable.v-table.theme--light th:nth-child(1), table.v-datatable.v-table.theme--light td:nth-child(1) {
    display: none;
}

table.v-table thead th {
    font-size: 13px !important;
}
.col-sm-2.picture-container.dealer_setting_img {
    padding: 82px;
    margin-bottom: -76px;
    padding-top: 6px;
    margin-left: -4px;
}
#mobileMenu .col-xs-8 {
    width: 40%;
}
img.mobileMenu {
    max-width: 90%;
    min-width: 90%;
}
#topHeader .col-sm-6.header {
    width: 54% !important;
  }
  #topHeader .col-sm-6.header {
    margin-right: -40px !important;
    margin-left: 41px !important;
}
#topHeader .col-sm-3.header:last-child {
    width: 83% !important;
  
}
#topHeader form#search-bar {
    margin-left: -56px !important;
}
table.product-list-display th:nth-child(1),table.product-list-display th:nth-child(3), table.product-list-display th:nth-child(4), table.product-list-display tbody td:nth-child(1),table.product-list-display tbody td:nth-child(3), table.product-list-display tbody td:nth-child(4) {
    display: none;
}
#mobileMenu .cart-basket-block {
       padding: 10px 0px!important;
   }
}