/* Stylesheet */
.amountpaid {
    font-size: 25px;
}
.product_review .productimage img {
    min-width: 100%;
    max-width: 100%;
}
.tooltip-inner {
    max-width: 100% !important;
}
button.stripe-button-el {
    float: left;
    margin-top: -198px;
    margin-left: 325px;
}

.main-menu{
    background: #4689c2;
    color: #fff;
    line-height: 16px;
}
li {
    font-family: Josefin Sans,sans-serif;
    font-size: 17px;
}

.other-detail-text h5 {
    font-weight: 600;
    color: dimgrey;
}
.row.other-info .col-sm-3:hover {
    background: #efefef;
}

.row.other-info .col-sm-3 {
    padding: 30px 21px 10px;
}
.other-detail-text {
    padding-top: 20px;
}
.row.other-info i.fa.fa-plane {
    padding: 20px 18px;
}
.row.other-info i.fa.fa-user {
    padding: 20px 22px;
}
.row.other-info i.fa.fa-train {
    padding: 20px 22px;
}
.row.other-info i.fa.fa-truck {
    padding: 20px 16px;
}
.row.other-info i.fa {
    font-size: 25px;
    background: #009497;
    color: white;
    border-radius: 50%;
}


.row.other-info {
    border: 1px solid #cfcfcf;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.col-sm-5.product-desc {
    background: #efefef36;
    padding: 40px 60px 20px;
}
span.price_pro {
    position: absolute;
    top: 0%;
    right: 0%;
    font-size: 18px;
}
.product-desc .right-align {
    position: relative;
}
span.in_stock i.fa {
    background: green;
    color: white;
    border-radius: 50%;
    padding: 4px;
    font-size: 9px;
}

span.in_stock {
    position: absolute;
    bottom: -50px;
    right: 0;
    font-size: 14px;
}
button.btn.btn-info.add_to_cart {
    width: 100%;
}
.product-desc p.favorite {
    text-align: center;
    padding: 15px 0px 0px;
}
.product-desc input.form-control {
    text-align: center;
    font-weight: bold;
}
p.favorite a:hover {
    color: #17a2b8;
    text-decoration: none;
}
.description_details_product {
    border: 1px solid #dfdfdf;
    padding: 40px 40px 20px;
}






.admin_dashboard div#sub-menu {
    padding-left: 15px;
}
div#sub-sub-menu {
    padding-left: 15px;
}

.list-group-item {
    z-index: 2;
    color: #fff;
    background-color: #4d4d4d !important;
    border-color: #4d4d4d !important;
    text-decoration: none;
}

.product_count,.product_cat_count, .user_count  {
    border: 1px solid #ccc;
    padding: 14px;
    text-align: center;
}

.product_count p,.product_cat_count p, .user_count p  {
    font-size:20px;
}

section.settings-sidebar {
    margin-bottom: 50px;
}

.admin_playzone {
    margin-top: 37px;
}

.welcome-asia{
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 30px;
}

.right-side {
    padding: 22px;
    float: right;
}

.organic-product p{
    font-size:22px;
}
.developer-designing a{
    color:#fff;

    text-decoration:none;
}
.developer-designing p{
    float:right;
}

.margin-top-60{
    margin-top:60px;
}


.cat-name{
        text-align: center;
    padding-top: 104px;
    margin-bottom: 60px !important;
}

.welcome-para{
        width: 50%;
    margin: 0 auto;
    margin-bottom: 75px;
}
p{
    font-size:16px;
    font-family: 'Josefin Sans', sans-serif !important;
}
a {
    text-decoration: underline;
    font-size: 16px;
}
h1, h2,h3, h4, h5, h6, a{
    font-family: 'Josefin Sans', sans-serif !important;
}
.menu-links a:hover {
    color: #94c11e !important;
    text-decoration: none !important;
}
div#top-header {
    padding: 7px 0px;
    background: #fff;
}

div#top-header a{
    text-decoration: none;
    font-size:13px;
}

.right-side a{
    font-size: 18px !important;
    color: #fff;
}
.search-input input {
    padding: 4px 14px 7px;
    font-size: 12px;
}
.search-input button {
    padding: 2px 7px 6px;
    background: ##ffc20e;
    border: 1px solid ##ffc20e;
    font-weight: 500;
}
.search-input {
        float: right;
    margin-top: 18px;
}

.clear-both {
    clear: both;
}
nav.navbar.navbar-expand-lg.navbar-light.pull-right {
    padding: 0px;
}
.top-header nav.navbar.navbar-expand-lg.navbar-light li a {
    margin: 0px;
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    border-right: 1px solid #cacaca;
    padding: 30px 20px;
}
.top-header nav.navbar.navbar-expand-lg.navbar-light li a:hover {
    background: white;
}
div#top-header .col-sm-2, div#top-header .col-sm-8, div#top-header .col-sm-3 {
    padding: 0px;
}
div#top-header .col-sm-2:first-child {
    background: white;
}
section.homepage-slider -fluid {
    padding: 0px;
}
.login-part p, .location-locator p, .your-cart p {
    font-size: 11px;
    color: #7c7c7d;
}
.login-part, .your-cart, .location-locator {
    text-align: center;
    font-size: 16px;
    padding: 9px 0px 0px;
    text-transform: uppercase;
}
.login-part, .your-cart, .location-locator {
    color: #340d8e;
}
.row.right-side a:hover p {
    color: #7c7c7d99;
}

.row.right-side a:hover i {
    color: #340d8e91;
}
.row.right-side a {
    text-decoration: none;
}
p.note-para {
    text-align: center;
    border: 1px solid black;
    padding: 10px 0px;
    margin: 50px 0px;
    font-weight: 600;
    color: #0000008c;
    font-size: 13px;
}
.new-section p {
    font-size: 16px;
}

.new-section h3 {
    font-size: 32px;
}
.new-section {
    background: #2170b5;
    color: white;
    padding: 50px;
    height: 340px;
}
.main-product a.btn.link-btn{
    font-size: 15px;
}
a.btn.link-btn {
    background: #4689c2;
    padding: 13px 18px;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: 600;
    border:none;
    color:#fff;
    font-size:22px;
    text-decoration: none ;
    margin:10px 0px 30px;
}
a.btn.link-btn.link-arrow-btn {
    background: #4689c2;
    font-size: 20px;
    padding: 9px 8px;
    border: none;
}
.vedio-ambassador .row .col-sm-4, .vedio-ambassador .row .col-sm-8 {
    padding: 0px;
}
.vedio-ambassador iframe {
    width: 100%;
    height: 400px;
}
.vedio-ambassador .row , .menu-product .row{
    margin: 0px !important;
}

.footer {
    background: #94c11e;
    color: #fff;
}
.footer ul {
    list-style: none;
    padding: 0px;
}
.footer ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.footer h5 {
    padding-bottom: 25px;
    font-weight: bold;
    font-size: 18px;
}
.footer h5:before {
    position: absolute;
    background: #00000042;
    height: 1px;
    width: 100%;
    top: 15%;
}
.developer-designing {
    background: #4689c2;
    color: #ffffff;
    padding: 25px 5px 3px;
}
.sub-content p.mt-4 {
    display: none;
}
.col-sm-12.featured-recipe {
    background-image: url(/images/homepage-images/pancakes.jpg);
    background-size: cover;
    padding: 0px;
}
.new-section.featured-one {
    background: #6b8821e8;
}
.new-section.featured-one h3 {
    font-size: 40px;
}
.link-ambassador {
    background-image: url('/images/homepage-images/ambassador.jpg');
    height: 400px;
    background-size: cover;
    text-align: center;
}
.ams-link {
    background: #616161;
    padding: 20px;
    font-size: 16px;
    color: white;
}
.assure-head h3 img {
    padding-right: 15px;
}
.quality-assurance .assure-head h3 {
    font-size: 21px;
}
.quality-assurance .assure-head {
    background: #94c11e;
    padding: 18px 10px 7px 27px;
}
.quality-part{
    height: auto;
}
.quality-assurance {
    background: url(/images/homepage-images/Untitled-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.col-sm-12.hidden-part {
    background: #bf431cde;
    color: white;
    height: 423px;
    padding-top: 25px;
    opacity: 0;
    transition: .5s ease-out;
}
.left-part h4 {
    font-size: 30px;
}
.left-part {
    border-left: 2px dotted white;
    padding-left: 20px;
}
.right-art {
    padding: 0px 0px 0px 0px;
    margin-bottom: 34px;
}
.quality-assurance:hover .hidden-part {
    opacity: 1;
    transition: .5s ease-in;
}
.organic-product .display-product {
    padding-top: 60px;
}
.organic-product {
    background: #2170b5;
    color: white;
}
.organic-product .display-product h3 {
    font-size: 35px;
}
.row.featured-video {
    margin-bottom: 0px;
}
.organic-product .display-product h5 {
    text-transform: uppercase;
}
.product-listing{
    background: url(/images/homepage-images/product1.png);
}
.product-listing1{
    background: url(/images/homepage-images/product2.png);
}
.product-listing2{
    background: url(/images/homepage-images/product3.png);
}
.product-listing3{
    background: url(/images/homepage-images/product4.png);
}
.product-listing4{
    background: url(/images/homepage-images/product5.png);
}
.product-listing5{

}
.product-list {
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    padding:0px;
    color:white;
}
.product-listing .main-product, .product-listing header img{
    background: #cc512be0;
}
.product-list header img{
    padding: 20px;
}
.product-list .main-product {
    height: 450px;
    padding: 90px;
    opacity: 0;
    transition: all .5s ease-out;
}
.product-list:hover header img {
    display: none;
}
.product-list:hover .main-product {
    opacity: 1;
    height: 100%;
    width: 100%;
}
.product-listing1 .main-product, .product-listing1 header img {
    background: #8a3e8ae0;
}
.product-listing2 .main-product, .product-listing2 header img {
    background: #1d5b7ce0;
}
.product-listing3 .main-product, .product-listing3 header img {
    background: #54575ae0;
}
.product-listing4 .main-product, .product-listing4 header img {
    background: #597d00e0;
}
.product-listing5 .main-product, .product-listing5 header img {
    background: #890014e0;
}

.product-listing6 .main-product, .product-listing1 header img {
    background: #8a3e8ae0;
}
.main-product h4 {
    margin-bottom: 25px;
}
div#homepageCarousel img {
    width: 100%;
    height: auto;
}
.customer_vehicle_form .picture {
    margin-left: 16px;
    height: auto;
    color: #000;
}


header.main-header {
    /*margin-top: 23px;*/
}
.main-header a.tablinks {
    color: #ffff;
    text-decoration: none;
}
.main-header .tabcontent {
    position: relative;
    z-index: 99;
    min-width: 125% !important;
    left: 0;
    top: 35px;
}
.main-header .sub-content a,
.main-header .sub-content h5  {
    font-size: 14px;
}
.main-header .tabcontent  {
    position: absolute;
    background: #ffffff;
    padding: 0;
    border: 4px solid #95c11c;
}

.main-header a.tablinks {
    padding: 25px 10px;
}

.third-level ul.menu-links{
    list-style: none;
    padding: 0px;
}
.third-level {
    padding-top: 10px;
    padding-bottom: 10px;
}
.third-level ul.menu-links li a {
    border: none !important;
}
/*.top-header nav.navbar.navbar-expand-lg.navbar-light li a{
    padding: 0px !important;
}*/
.sub-content .row {
    margin: 0px !important;
}
.third-level a {
    text-decoration: none;
    color: #717171;
}
.sub-content h4 {
    padding-bottom: 15px;
    color: #94c11e;
    font-weight: bold;
    padding-left: 14px;
    padding-top: 20px;
}
.main-header .tab {
    display: inline;
}
span#close-menu {
    font-size: 40px;
    position: absolute;
    left: 92%;
    top: 6%;
    cursor: pointer;
    color: #94c11e;
}
img.cat-img {
    max-width: 100% ;

}
table.table.table-hover.product-list-display img {
    width: 45%;
}
.miscellaneous_info span.in_stock {
    top: 0%;
}
p.note {
    background: #e8e8e8;
    padding: 20px;
}
.product_review span.price_pro{
    position: relative;
}
i.fa.fa-star.rating {
    color: #cac9c9;
}
i.fa.fa-star.rating.selected {
    color: #94c11e;
}
#reviewForm .form-group label {
    display: inline;
}
#reviewForm .form-group input{
    padding: 10px !important;
}

.review_form button.tablinks {
    background: inherit;
    padding: 18px 0px;
    font-weight: 600;
    letter-spacing: 0.5px;
    flex:auto;
    border:1px solid #ffffff;
    color: white;
}
.review_form .tab {
    background: #2170b5;
    min-width: 100%;
        display: flex;
    flex-flow: row wrap;
}
.review_form button.tablinks.active {
    background: #9bbd1d;
    color: #2170b5;
}

.review_form .tabcontent {
    background: #ffffff;
    min-width: 100%;
    padding: 30px 30px 15px;
}
.row.review_form {
    margin: 0px !important;
    margin-bottom: 30px !important;
    padding: 30px 0px;
}
p.write_review {
    background: #2170b5;
    padding: 13px;
    color: white;
}
.row.review_form p strong {
    color: #2170b5;
    font-size: 20px;
}
.customer-rating {
    padding-bottom: 20px;
}
form#reviewForm {
    width: 50%;
    margin: auto;
}
form#reviewForm h4 {
    text-align: center;
    padding: 20px 0px 40px;
}
form#reviewForm #rating-stars, #quality-stars, #perfor-stars {
    float: right;
}
form#reviewForm input.form-control
{
    width: 11%;
    float: right;
}
form#reviewForm input.form-control ,form#reviewForm textarea.form-control{
    background: #ffffff;
    border: 1px solid #e9e9e9;
}
input#value_money, input#quality, input#performance{
    background: #94c11e !important;
    border: none;
}
form#reviewForm input[type="radio"] {
    width: 7%;
}
input#value_money , input#quality, input#performance{
    border-radius: 50%;
    color: white;
}
.row.other_details input {
    min-width: 100%;
}
.form-group.show_overallRating {
    text-align: center;
    font-weight: 600;
    position: relative;
    margin-bottom: 80px;
}
input#overallRating {
    margin: auto;
    float: none !important;
    width: 80px !important;
    height: 80px;
    text-align: center;
    border-radius: 50%;
    background: #f1592a !important;
    border: 2px solid #f1592a !important;
    font-size: 20px;
    color: white;
    position: relative;
}
form#reviewForm input[type="radio"] {
    margin-right: 5px;
}
button.btn.btn-md.submit_btn {
    background: #94c11e;
    color: white;
    float: right;
}
.row.other_details input {
    background: white !important;
}
h4.slider_title {
    text-align: center;
    margin-top: 25px;
}
span#overall_rating {
    position: absolute;
    height: 60px;
    width: 60px;
    background: #94c11e;
    border-radius: 50%;
    top: 100%;
    left: 44%;
    color: white;
    font-size: 20px;
    padding: 14px 8px;
}
div#reviewCarousel .carousel-inner{
    text-align:center !important;
}
form#search-bar {

    width: 80%;
}
form#search-bar button {
    border: 1px solid #cacaca;
    background: #4689c2;
    color: #fff;
    height:42px;
    width:42px;
}
#search-bar .input-group {
    display: -webkit-box;
}
form#search-bar input {
    min-width: 80%;
    max-width: 20%;
    background: #fff;
    height: 42px;

}
.result-products .product-image img {
    max-width: 100%;
    transition: all .5s ease-out;
}
.results-heading em {
    font-weight: 500;
}

.results-heading {
    margin-bottom: 30px;
}
h3.topic, .wrap-content h4 {
    font-weight: 600;
    color: #585858;
}
hr.separator {
    border-top: 6px solid #d8d8d8;
    margin-bottom: 30px;
}
.wrap-content {
    margin-bottom: 30px;
}
.our-guarantee h2 {
    font-weight: 600;
    font-size: 30px;
    color: #505050;
    letter-spacing: 1px;
}
.privacy-policy ol {
    counter-reset: item;
}
.privacy-policy ol li {
    display: block;
    text-align: justify;
}
.termsofuse-content li p {
    text-align: justify;
}
.privacy-policy ol li:before {
    content: counters(item, ".") ".";
    counter-increment: item;
}
button.btn.btn-link.collapsed, button.btn.btn-link {
       color: white;
 }
 p {
    text-align: justify;
}

#faq_help .card-body {
    background: #94c11e;
    color: white;
}
#faq_help .card-header {
    background-color:#4689c2;
}
.cart-table-row-left a:hover img {
    transform: scale(5);
}

.cart-table-row-left img {
    transition: all 1s ease-out;
}




div#mobileMenu {
    display: none;
}
.product-description a h3 {
    text-align: center;
}

.product-description {
    padding: 25px 10px;
    border: 1px solid white;
}
.product-description a{
    color:#2170b5;
}
.product-description a:nth-child(2) {
    color: #92c121 !important;
}
.result-products .product-image img:hover {
    transform: scale(1.15);
}
#top-header .cart-basket {
    margin: 8px 8px !important;
    font-size: 15px !important;
}
#top-header .cart-basket-block {
    border: none !important;
}
#top-header .cart-basket-block img {
    padding: 5px;
}
.imageSection {
    display: flex;
}
.imageController {
    width: 25%;
}
.imageController img, .imageDisplay img {
    width: 60%;
}
.imageDisplay, .imageController {
    text-align: center;
}
.imageController div {
    margin-bottom: 10px;
}
.imageDisplay img {
    margin: auto;
}


.sub-category-block .sub-category-links {
    display: block !important;
    margin-bottom: 8px;
}
.category-cartridge-mobile, .sub-category-block .sub-category-links {
    font-size: 0;
    padding: 0;
    text-align: center;
    width: auto;
}
.sub-category-block .sub-category-links {
    list-style: none;
    text-align: center;
}



.category-cartridge-mobile .category-cartridge-item, .sub-category-block .sub-category-links li {
    background: none !important;
    border: none;
    display: inline-block !important;
    line-height: 1.2;
    margin: 0 !important;
    padding: 3px !important;
    vertical-align: top;
    width: 20%;
}
.sub-category-block .sub-category-links li {
    display: inline-block;
    margin: 5px;
}


.category-cartridge-mobile .category-cartridge-item a, .sub-category-block .sub-category-links li a {
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border: 1px solid #106847;
    color: #106847 !important;
    justify-content: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 12px;
    height: 40px;
    margin: 0;
    padding: 0 10px;
    text-decoration: none !important;
}
.category-cartridge-mobile .category-cartridge-item a:hover, .sub-category-block .sub-category-links li a:hover {
    background: #2170b5;
    color: #fff !important;
}

.crumb, .page-title-block{
    margin: 0 auto;
    max-width: 1000px;
}
.crumb ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 0 0 20px;
}
.crumb li {
    display: inline-block;
    vertical-align: middle;
    vertical-align: baseline;
    font-size: 14px;
    font-size: 1.4rem;
    color: #888;
}
.crumb li:after {
    content: "/";
    font-size: 16px;
    color: #888;
    display: inline-block;
    vertical-align: baseline;
    padding: 0px 3px;
}
.page-title-block {
    padding: 10px 50px 0;
}
.page-title-block .page-title-line {
    display: block;
}
.page-title-block .page-title-line .page-title {
    text-align: center;
    border-bottom: 1px solid #333;
    position: relative;
    height: 0;
    margin-bottom: 30px;
}
.page-title {
    margin: 0 0 22px;
    font-size: 33px;
    line-height: 1;
    font-weight: bold;
    word-wrap: break-word;
}
.page-title-block .page-title-line .page-title span {
    background-color: #f8fafc;
    position: relative;
    top: -16px;
    padding: 0 18px;
}
.col-sm-2.third-level.mb-5 h5 {
    margin-top: 0px;
}
@media only screen and (min-width: 786px){
.sub-category-block .sub-category-links {
    margin: 0 auto;
    max-width: 1000px;
    padding: 10px 20px;
}
.sub-category-block .sub-category-links li a {
    font-size: 15px;
    height: 46px;
    font-weight: bold;
}
.sub-category-block .sub-category-links li {
    padding: 5px !important;
}
}
@media only screen and (max-width: 768px){
    ul.mobile-hidden {
    display: none;
}
.category-cartridge-mobile .category-cartridge-item, .sub-category-block .sub-category-links li{
    width: 50%;
}
.page-title {
    font-size: 14px;
    }
    .page-title-block .page-title-line .page-title span {
    background-color: #f8fafc;
    top: -8px;
}
}

.bg-color header {
    height: 250px;

}
.bg-color:nth-child(5n+4) header {
    background: black;
}
.bg-color:nth-child(5n+3) header {
    background: #93c11e;
}
.bg-color:nth-child(5n+2) header {
    background: purple;
}
.bg-color:nth-child(5n+1) header {
    background: orange;
}
.bg-color:nth-child(5n) header {
    background: #2170b5;
}
.bg-color h4.cat-name {
    color: white;
}
.col-sm-4.bg-color {
    margin-bottom: 25px;
}
ol.deep-list {
    font-family: JoseFin Sans,sans-serif;
    font-size: 16px;
}
table.table.table-bordered {
    font-size: 16px;
    font-family: JoseFin Sans,sans-serif;
}
}


