<template>
	<div>
		<div class="col-md-12" v-if="userInfo">
			<div class="row">
			<div class="col-sm-12 text-center">
				<p v-if="userInfo">You are logged in as <strong>{{ userInfo.email }}</strong></p>
				<button @click.prevent="continueGuest" type="submit" class="btn btn-success btn-lg">Continue</button>
			</div>
		</div>
		</div>
	<div class="col-md-12" v-if="!userInfo">
		<v-form
            ref="form"
            v-model="valid"
            lazy-validation
          >
		<div class="form-group row">

	        <div class="col-md-6 offset-md-2">
	        	<v-text-field
	        		  name="email"
	        	      v-model="email"
	        	      :rules="emailRules"
	        	      label="E-mail"
	        	      required
	        	    ></v-text-field>
	            <!-- <input type="email" class="form-control" name="email" v-model="email" required autofocus> -->
	        </div>
	    </div>

	    <div class="form-group row">
	        <div class="col-md-6 offset-md-2">
	        	<v-text-field
	        			name="password"
	        	        v-model="password"
	        	        :rules="passwordRules"
	        	        color="deep-purple"
	        	        label="Password"
	        	        type="password"
	        	      ></v-text-field>
	            <!-- <input type="password" class="form-control" v-model="password" name="password" required> -->
	        </div>
	    </div>

	    <div class="form-group row mb-0">
	        <div class="col-md-8 offset-md-2">
	        	<p class="text-danger" v-if="authError">Incorrect email or password.</p>
	            <button @click.prevent="login" class="btn btn-primary">Login</button>
	            <a class="btn btn-link" href="/password/reset">Forgot Your Password?
	            </a>
	        </div>
	    </div>
	    <div class="form-group row mt-2">
	        <div class="col-md-8 offset-md-2">
	        	<p class="or-guest">OR</p>
	            <button @click.prevent="continueGuest" type="submit" class="btn btn-success btn-lg">Continue as Guest</button>
	            <span class="or-guest px-2">OR</span>
	            <button @click.prevent="signup" type="submit" class="btn btn-info btn-lg mt-0">Sign Up</button>
	        </div>
	    </div>
	    </v-form>
    </div>
    </div>
</template>

<script>

	export default {
		props: ['user'],
		data() {
			return {
				userInfo: this.user,
				email: '',
				passwordRules: [
				        v => !!v || 'Password is required'
				      ],
				emailRules: [
				        v => !!v || 'E-mail is required',
				        v => /.+@.+/.test(v) || 'E-mail must be valid'
				      ],
				password: '',
				authError: false
			}
		},
		created() {
			console.log(this.user)
		},
		methods: {
			continueGuest() {
				this.$emit('next-tab');
			},
			validate() {

			},
            signup() {
                location.href="/register"
            },
			login() {
				this.authError = false;
				let self = this;
				if(this.$refs.form.validate()) {

					axios.post(`/checkout-login`, {
					    email: this.email,
					    password: this.password
					})
					.then(function (response) {
						console.log(response);
						if(response.data.auth === false) {
							self.authError = true;
							console.log(self.authError)
						} else {
							window.location.reload()
						}
					  // self.deliveryLists.push(response.data.delivery)
					})
					.catch(function (error) {
						console.log(error);
					});

				}

			}
		}
	}

</script>

<style>
	.or-guest {
		font-size: 18px;
		margin-bottom: 8px;
		margin-top: 8px;
	}
	.v-messages.theme--light.error--text {
	    color: red;
	}
</style>
