<template>
	<div class="position-relative" @mouseover="mouseOver" @mouseleave="mouseLeave">
		<div class="cart-basket-block" v-if="!hideDetails">
			<img src="https://www.hollandandbarrett.com/ui/css/img/icons/hb_basket_icon.svg" width="40">
			<span class="cart-display-md">
				<span v-if='cartCount == 0' class="cart-basket">No Items</span>
				<span v-if='cartCount > 0' class="cart-basket">Basket</span> 
				<span v-if='cartCount > 0' class="cart-amount">{{newTotal}}</span> 
				<span v-if='cartCount > 0' class="cart-item-total">({{cartCount}})</span>
			</span>
			<span class="cart-display-sm">
				<span v-if='cartCount > 0' class="cart-item-total">({{cartCount}})</span>
			</span>
		</div>
		<div v-if="hideDetails || (cartCount > 0 && toggleCart)" class="position-absolute cart-display">
			<div class="cart-header-display-box">
				<div class="header-cart-list" v-for='item in cartItems'>
					<a @click="removeProduct(item.rowId)" title="Remove Item" href="#" class="header-cart-remove">
						<img src="/images/delete.png" height="15">
					</a>
					<div class="header-cart-image">
						<img :src="`/${item.options.image}`" height="60px" width="100%">
					</div>
					<div class="header-cart-content padding-left-10 font-14">
						<span>
							<a class="font-16" :href="`/product-detail/${item.id}`">{{item.name}}</a>
						</span><br>
						<span class="cart-hover-price">£{{item.price}}</span>
						X <span  class="d-inline-block">
							<cart-update :class-name='hoverSelectClass' :id="`header-cart-${item.id}`" :name="`header-cart-${item.id}`" :item='item' :available-quantity="item.options.available_quantity"></cart-update>
						</span> 
						= <span class="cart-hover-total">{{item.subtotal}}</span>
					</div>
				</div>
			</div>
			<div v-if="!hideDetails">
				<table class="cart-table-header">
					<tr>
						<td class="cart-background width-50 text-right">Subtotal</td>
						<td>£{{ checkFloat(newSubTotal) }}</td>
					</tr>
					<!-- <tr>
						<td class="cart-background width-50 text-right">Tax(21%)</td>
						<td>£{{ checkFloat(newTax) }}</td>
					</tr> -->
					<tr>
						<td class="cart-background width-50 text-right bold">Total</td>
						<td>{{newTotal}}</td>
					</tr>
				</table>
			</div>
			<div class="row" v-if="!hideDetails">
				<div class="col-sm-12 text-center">
					<a class="btn btn-success width-100 margin-top-15 font-weight-bold font-14" href="/cart">View Basket & Checkout</a>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			hideDetails: {
                type: Boolean,
                default: false
            }
		},
		data() {
			return {
				cartItems: {},
				cartCount: 0,
				discount: 0,
				newSubTotal: 0,
				newTax: 0,
				newTotal: 0,
				toggleCart: false,
				hoverSelectClass: 'header-cart-qty'
			}
		},
		created() {
			this.getCartData();
		},
		methods: {
			removeProduct(id) {
				axios.delete(`/cart/`+id)
				  .then((response) => {
				  	window.location.reload();
				})
				  .catch((error) => {
				      console.log(error);
				  });
			},
			getCartData() {
				axios.get('/cart')
				  .then((response) => {
				  	this.cartCount = response.data.cartCount;
				  	this.cartItems = response.data.cartItems;
				  	this.discount = response.data.discount;
				  	this.newSubTotal = response.data.newSubtotal;
				  	this.newTax = response.data.newTax;
				  	this.newTotal = response.data.newTotal;
				})
				  .catch((error) => {
				      console.log(error);
				  });
			},
			checkFloat(number) {
				if(typeof number === 'number'){
					if(number % 1 === 0){
						return number;
					} else {
						return Number(number).toFixed(2);
					}
				}
				return number;
			},
			mouseOver() {
				this.toggleCart = true;
			},
			mouseLeave() {
				if($("."+this.hoverSelectClass).length == 0) {
					this.toggleCart = false;
				}
			}
		}
	}
</script>

<style>
	
	.cart-display-sm {
		display: none;
	}

	@media (max-width: 1024px) {
			.cart-display-sm {
			display: inline-block;
		}
		.cart-display-md {
			display: none;
		}
	}
	@media (min-width: 575.98px) { 
		/*.cart-display-sm {
			display: inline-block;
		}*/
	}

</style>