<template>
	<div>
		<button 
			@click="checkout" 
			class="button-primary">
			Proceed to Checkout
		</button>
	</div>
</template>

<script>	
	export default {
		props: ['delivery'],
		methods: {
			checkout() {
				if(this.delivery.id) {
					window.location.href = '/checkout';
				} else {
					window.Event.$emit('empty-delivery');
				}
			}
		}
	}
</script>