<template>
  <div class='categories-select'>
    <select :name="name" :id="id" class="quantity cart-qty-select" v-model="selectedItems" multiple="multiple" required>
            <option v-for="option, key in items" :value='key'>{{ option }}</option>
    </select>
  </div>
</template>
<script>
  export default {
    props: ['id', 'name', 'items', 'className', 'selected'],
    data() {
      return {
        selectedItems: this.selected?this.selected:[]
      }
    },
    mounted() {
      let dropdown = $('#' + this.id);
      let self = this;
      setTimeout(function(){
              dropdown.select2({
                placeholder: "Select Product Categories",
                width: '100%',
                dropdownCssClass: self.className
              })
          }, 100)
    }

  }
</script>

<style>
  .categories-select .select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: #495057;
  }

</style>