<template>
	<div>
		<label>{{ label }}</label>
		<tinymce :id="name" v-model="data":other_options='options'></tinymce>
		<input type="hidden" :name="name" v-model='data'>
	</div>
</template>

<script>
	import tinymce from 'vue-tinymce-editor'

	export default {
		props: ['label', 'name', 'value'],
		components: {
			tinymce
		},
		data() {
			return {
				description: '',
				data: this.value,
				options: {
					height: '250px'
				}
			}
		},
		created() {
			console.log(this.value)
		}
	}
</script>