<template>
  <div class="user-list-block">
    <v-card>
      <v-card-title>
        Users
        <v-spacer></v-spacer>
        <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
      </v-card-title>
      <v-data-table :headers="headers" :items="usersList" class="elevation-1" :search="search">
        <template slot="headerCell" slot-scope="props">
          <v-tooltip bottom>
            <span slot="activator">{{ props.header.text }}</span>
            <span>{{ props.header.text }}</span>
          </v-tooltip>
        </template>
        <template slot="items" slot-scope="props">
          <td>{{ props.item.id }}</td>
          <td>{{ props.item.name }}</td>
          <td>{{ props.item.email }}</td>
          <td class="layout">
            <v-icon small @click="deleteItem(props.item)">delete</v-icon>
          </td>
        </template>
        <v-alert
          slot="no-results"
          :value="true"
          color="error"
          icon="warning"
        >Your search for "{{ search }}" found no results.</v-alert>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
export default {
  props: ["users"],
  data() {
    return {
      search: "",
      headers: [
        {
          text: "ID",
          align: "left",
          sortable: false,
          value: "id"
        },
        { text: "Name", sortable: false, value: "name" },
        { text: "Email", value: "email" },
        { text: "Actions", value: "type", sortable: false }
      ],
      usersList: this.users
    };
  },
  methods: {
    deleteItem(item) {
      console.log(item);
      const index = this.usersList.indexOf(item);
      confirm("Are you sure you want to delete this user?") &&
        this.delete(item, index);
    },
    delete(value, index) {
      let self = this;
      axios
        .delete(`/users/` + value.id)
        .then(function(response) {
          self.usersList.splice(index, 1);
        })
        .catch(function(error) {});
    }
  }
};
</script>
<style>
.v-alert.error {
  background-color: #ff5252 !important;
}

.user-list-block .v-dialog.v-dialog--active {
  max-width: 500px;
  max-height: initial;
  position: absolute;
  top: 20px;
}

.user-list-block .v-menu {
  position: initial;
}

.user-list-block .v-menu > .v-menu__content {
  top: 0 !important;
  left: 0 !important;
}
</style>
