<template>
  <v-container fluid grid-list-md>
    <v-data-iterator
      :items="items"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
      content-tag="v-layout"
      hide-actions
      row
      wrap
    >
      <v-flex
        slot="item"
        slot-scope="props"
        xs12
        sm6
        md6
        lg6
      >
        <v-card>
          <v-card-title><h4>{{ props.item.title }}</h4></v-card-title>
          <v-divider></v-divider>
          <v-list dense>
            <v-list-tile>
              <v-list-tile-content>Name:</v-list-tile-content>
              <v-list-tile-content class="align-end">{{ props.item.name }}</v-list-tile-content>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-content>Email:</v-list-tile-content>
              <v-list-tile-content class="align-end">{{ props.item.email }}</v-list-tile-content>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-content>Address:</v-list-tile-content>
              <v-list-tile-content class="align-end">{{ props.item.address }}</v-list-tile-content>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-content>Town/City:</v-list-tile-content>
              <v-list-tile-content class="align-end">{{ props.item.city }}</v-list-tile-content>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-content>County:</v-list-tile-content>
              <v-list-tile-content class="align-end">{{ props.item.county }}</v-list-tile-content>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-content>Postal Code:</v-list-tile-content>
              <v-list-tile-content class="align-end">{{ props.item.postalCode }}</v-list-tile-content>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-content>Phone:</v-list-tile-content>
              <v-list-tile-content class="align-end">{{ props.item.phone }}</v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-card>
      </v-flex>
    </v-data-iterator>
  </v-container>
</template>

<script>
  export default {
    props: ['details'],
    data: () => ({
      rowsPerPageItems: [2, 8, 12],
      pagination: {
        rowsPerPage: 2
      },
      items: []
    }),
    created() {
      this.populateItems();
    },
    methods: {
      populateItems() {
        this.items = [
          {
            title: 'Billing Details',
            name: this.details.billing_name,
            email: this.details.billing_email,
            address: this.details.billing_address,
            city: this.details.billing_city,
            county: this.details.billing_province,
            postalCode: this.details.billing_postalcode,
            phone: this.details.billing_phone
          },
          {
            title: 'Delivery Details',
            name: this.details.delivery_name,
            email: this.details.delivery_email,
            address: this.details.delivery_address,
            city: this.details.delivery_city,
            county: this.details.delivery_province,
            postalCode: this.details.delivery_postalcode,
            phone: this.details.delivery_phone
          }
        ];
      }
    }
  }
</script>