/* Position utilities -- START */
.position-relative {
  position: relative;
}
.position-fixed {
  position: fixed;
}

.position-absolute {
  position: absolute;
}

.bottom-0{
  bottom: 0;
}

.right-0{
  right: 0;
}

.top-4{
  top: 4px;
}
/* Position utilities -- END */

.padding-left-80 {
	padding-left: 80px !important;
}
.padding-left-10 {
  padding-left: 10px !important;
}
.padding-top-10 {
  padding-top: 10px !important;
}
.margin-bottom-10 {
  margin-bottom: 10px !important;
}
.font-16 {
	font-size: 16px !important;
}
.font-14 {
	font-size: 14px !important;
}
.width-initial {
    width: initial !important;
}
.width-100 {
	width: 100%;
}
.width-auto {
  width: auto !important;
}
.margin-top-15 {
	margin-top: 15px !important;
}
.margin-top-30 {
  margin-top: 30px !important;
}
.width-40 {
  width: 40%;
}
