<template>
	<div class="coupon-apply inline-block">
		<v-layout wrap align-center>
		<v-flex xs8 sm8 d-flex>
		    <v-text-field
		    v-model="coupon"
		    name="coupon"
            label="Use Coupon/Voucher"
          ></v-text-field>
		</v-flex>
		<v-flex xs4 sm4 d-flex>
          <v-btn depressed small color="#1867c0" @click="apply">Apply</v-btn>
		</v-flex>   
		</v-layout>     
		        <span class="text-danger" v-if="show">{{ errorMsg }}</span>
	</div>
</template>

<script>
	export default {
		props: ['selectedCoupon'],
		data() {
			return{
				coupon: this.selectedCoupon,
				show: false,
				errorMsg: 'Please enter the coupon.'
			}
		},
		methods: {
			apply() {
				if(this.coupon === '') {
					this.show = true;
					this.errorMsg = 'Please enter the coupon.';
				} else {
					let self = this;
					axios.post(`/update-coupon`, {
					    coupon: this.coupon
					})
					.then(function (response) {
						if(response.data.status === 'error') {
							console.log(response.data.msg);
							self.errorMsg = response.data.msg;
							self.show = true;
						} else {
							window.location.reload()
						}						
					})
					.catch(function (error) {
						console.log('error')
						console.log(error)
					});
				}
			}
		}
	}
</script>

<style>
	.coupon-apply .v-btn {
		color: #ffffff;
	}
</style>