<template>
  <div class="coupons-action-block margin-top-15">
    <v-toolbar flat color="white">
      <v-toolbar-title>Coupons Lists</v-toolbar-title>
      
      <v-spacer></v-spacer>
      <v-dialog v-model="dialog" max-width="800px">
        <v-btn slot="activator" color="primary" dark class="mb-2">New Coupon</v-btn>
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <v-form
            ref="form"
            v-model="valid"
            lazy-validation
          >
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap align-center>
                <v-flex xs12 sm6 d-flex>
                  <v-select
                    name="coupon_type"
                    :rules="[v => !!v || 'Coupon Type is required']"
                    v-model='editedItem.coupon_type'
                    :items="couponType"
                    label="Select Coupon Type"
                  ></v-select>
                </v-flex>
                <v-flex xs12 sm4 d-flex>
                  <div class="coupon-code-block">
                    <v-text-field 
                    name="coupon_code" 
                    :rules="[v => !!v || 'Coupon Code is required']"
                    v-model="editedItem.coupon_code" 
                    label="Coupon Code"></v-text-field>
                    <div class="duplicate-coupon error--text" >{{ duplicateCouponMessage }}</div>
                  </div>
                </v-flex>
                <v-flex xs12 sm2 d-flex>
                  <v-btn @click="generateCoupon" round color="primary" dark>Generate</v-btn>
                </v-flex>
                <v-flex xs12 sm4 d-flex>
                  <v-select
                    name="discount_type"
                    :rules="[v => !!v || 'Discount Type is required']"
                    v-model='editedItem.discount_type'
                    :items="['Rate', 'Percentage']"
                    label="Select Discount In"
                  ></v-select>
                </v-flex>
                <v-flex xs12 sm4 d-flex>
                  <v-text-field 
                  name="discount_value" 
                  :rules="[v => !!v || 'Coupon Value is required']"
                  v-model="editedItem.discount_value" 
                  label="Value"></v-text-field>
                </v-flex>
                <v-flex xs12 sm4 d-flex>
                  <v-text-field 
                  name="minimum_amount"
                  :rules="minAmountRule"
                  v-model="editedItem.minimum_amount" 
                  label="Minimum Applied Amount"></v-text-field>
                </v-flex>
                <v-flex xs12 sm4 d-flex>
                  <v-select
                   name="coupon_use_type"
                    v-model='editedItem.coupon_use_type'
                    @change="useTypeChanged()"
                    :rules="[v => !!v || 'Type of use is required']"
                    :items="['Single', 'Multiple', 'Unlimited']"
                    label="Type of Use"
                  ></v-select>
                </v-flex>
                <v-flex xs12 sm4 d-flex>
                  <v-text-field 
                  name="coupon_applicable_times" 
                  :rules="quantityUseRule"
                  type="number" 
                  v-model="editedItem.coupon_applicable_times" 
                  :readonly="readonlyApplicableTimes"
                  label="Quantity of Use"></v-text-field>
                </v-flex>
                <v-flex xs12 sm4 d-flex>
                  <v-text-field v-if="editedIndex > -1" name="coupon_applied_times" type="number" v-model="editedItem.coupon_applied_times" label="Quantity used" :readonly="true"></v-text-field>
                </v-flex>
                <v-flex xs12 sm12 d-flex>      
                  <v-checkbox
                    name="visible"
                    v-model="editedItem.visible"
                    label="Status"
                  ></v-checkbox>
                </v-flex>
               
              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
            <v-btn color="blue darken-1" flat @click="save">Save</v-btn>
          </v-card-actions>
        </v-form>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="couponsLists"
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.coupon_type }}</td>
        <td class="text">{{ props.item.coupon_code }}</td>
        <td class="text">{{ getDiscountValue(props.item.discount_type, props.item.discount_value) }}</td>
        <td class="text">{{ (props.item.minimum_amount)?'£'+props.item.minimum_amount:'' }}</td>
        <td class="text">{{ props.item.coupon_use_type }}</td>
        <td class="text">{{ props.item.coupon_applicable_times }}</td>
        <td class="text">{{ props.item.coupon_applied_times }}</td>
        <td class="text">{{ (props.item.visible)?'Yes':'No' }}</td>
        <td class="layout">
          <v-icon
            small
            class="mr-2"
            @click="editItem(props.item)"
          >
            edit
          </v-icon>
          <v-icon
            small
            @click="deleteItem(props.item)"
          >
            delete
          </v-icon>
        </td>
      </template>
      <template slot="no-data">
        <v-btn color="primary" @click="initialize">Reset</v-btn>
      </template>
    </v-data-table>
  </div>
</template>

<script>
  export default {
    props: ['coupons'],
    data: () => ({
      valid: true,
      dialog: false,
      duplicateCouponMessage: null,
      headers: [
        {
          text: 'Type',
          sortable: false,
          align: 'left',
          value: 'coupon_type'
        },
        { text: 'Code', sortable: false, value: 'coupon_code' },
        { text: 'Discount Value', value: 'discount_value', sortable: false },
        { text: 'Applied Amount', value: 'minimum_amount', sortable: false },
        { text: 'Use Type', value: 'coupon_use_type', sortable: false },
        { text: 'Times of Use', value: 'coupon_applicable_times', sortable: false },
        { text: 'Times Used', value: 'coupon_applied_times', sortable: false },
        { text: 'Visible', value: 'visible', sortable: false },
        { text: 'Actions', value: 'type', sortable: false }
      ],
      readonlyApplicableTimes: false,
      couponType: ['Discount', 'Delivery'],
      couponsLists: [],
      editedIndex: -1,
      editedItem: {
        coupon_type: '',
        coupon_code: '',
        discount_type: '',
        discount_value: '',
        minimum_amount: '',
        coupon_use_type: '',
        coupon_applicable_times: '',
        coupon_applied_times: 0,
        visible: false
      },
      defaultItem: {
        coupon_type: '',
        coupon_code: '',
        discount_type: '',
        discount_value: '',
        minimum_amount: '',
        coupon_use_type: '',
        coupon_applicable_times: '',
        coupon_applied_times: 0,
        visible: false
      }
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New Coupon' : 'Edit Coupon'
      },
      minAmountRule() {
        const rules = []
        if(this.discountType === 'Rate') {
          const rule1 = 
          v => !!v || 'Minimum amount is required'
          rules.push(rule1);
        }
        if(this.discountType === 'Rate' && this.discountValue) {
            const rule2 =
            v => parseFloat(v) > parseFloat(this.discountValue) || 'This amount must be greater than discount value'
            rules.push(rule2);
          }
        return rules;
      },
      quantityUseRule() {
        const rules = [];
        if(this.editedItem.coupon_use_type === 'Single' || this.editedItem.coupon_use_type === 'Multiple') {
          const rule =
          v => !!v || 'Quantity is required'
          rules.push(rule);
        }
        return rules;
      },
      discountType() {
        return this.editedItem.discount_type;
      },
      discountValue() {
        return this.editedItem.discount_value;
      }

    },

    watch: {
      dialog (val) {
        val || this.close()
      }
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {
        this.couponsLists = this.coupons
      },
      getDiscountValue(type, value) {
        if(type==='Rate') {
          return '£'+value;
        } else {
          return value+'%';
        }
      },
      generateCoupon() {
        var text = "";
        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
        for(var i = 0; i < 5; i++) {
            text += possible.charAt(Math.floor(Math.random() * possible.length));
        }
        this.duplicateCouponMessage = null
        this.editedItem.coupon_code = text;
      },

      useTypeChanged() {
        if(this.editedItem.coupon_use_type == 'Single') {
          this.editedItem.coupon_applicable_times = 1;
        } else {
          this.editedItem.coupon_applicable_times = null;
        }
        if(this.editedItem.coupon_use_type == 'Single' || this.editedItem.coupon_use_type == 'Unlimited') {
          this.readonlyApplicableTimes = true;
        } else {
          this.readonlyApplicableTimes = false;
        }
      },

      editItem (item) {
        this.editedIndex = this.couponsLists.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        const index = this.couponsLists.indexOf(item)
        confirm('Are you sure you want to delete this item?') && this.delete(item, index)
      },

      close () {
        this.valid = false
        this.dialog = false
        this.duplicateCouponMessage = null

        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },
      validate() {
        return this.$refs.form.validate();
      },
      save () {
        if (this.validate()) {
          if (this.editedIndex > -1) {
            this.update(this.editedItem);
          } else {
            this.store(this.editedItem);
          }
          // this.close()
        }
        
      },
      store(value) {
        let self = this;
        axios.post(`/coupon`, {
            coupon: value
        })
        .then(function (response) {
          if(response.data.status ==='success') {
            self.couponsLists = response.data.coupons
            self.close();
          } else {
            self.duplicateCouponMessage = response.data.msg;
          }
        })
        .catch(function (error) {
        });
      },
      update(value) {
        let self = this;
        axios.put(`/coupon/`+value.id, {
            coupon: value
        })
        .then(function (response) {
          console.log(response)
          if(response.data.status ==='success') {
            Object.assign(self.couponsLists[self.editedIndex], self.editedItem)
            self.close();
          } else {
            self.duplicateCouponMessage = response.data.msg;
          }
          // Object.assign(self.couponsLists[self.editedIndex], self.editedItem)
        })
        .catch(function (error) {
        });
      },
      delete(value, index) {
        let self = this;
        axios.delete(`/coupon/`+value.id, {
            coupon: value
        })
        .then(function (response) {
           self.couponsLists.splice(index, 1)
        })
        .catch(function (error) {
        });
      }
    }
  }
</script>

<style>

  .coupons-action-block {
    margin-right: 20px
  }
  
  .coupons-action-block .v-dialog.v-dialog--active {
    max-width: 500px;
    max-height: initial;
    position: absolute;
    top: 20px;
  }

  .coupons-action-block .v-menu {
    position: initial;
  }

  .coupons-action-block .v-menu>.v-menu__content {
    top: 0 !important;
    left: 0 !important;
  }

  .error--text {
      color: #ff5252 !important;
      caret-color: #ff5252 !important;
  }

  .coupon-code-block {
    position: relative;
  }
  .duplicate-coupon {
    position: absolute;
    font-size: 10px;
    bottom: 0;
  }

  /*.coupons-action-block .v-datatable__actions__select .v-select {
    z-index: -9;
  }
  .coupons-action-block .v-datatable__actions__range-controls {
    z-index: -9;
  }*/

</style>